---
---

// "Reset" styles and SCSS reusable components
@import "normalize";
@import "mixins";
@import "variables";

// Generic site base & layout styles
@import "base";
@import "layout";

// Layouts
@import "resume";

img.skills_icon {
  height: 60px;
  margin-left: 24px;
  margin-right: 25px;
  margin-bottom: -15px;
}

.skills_section {
  text-align: center;
}

img.bitmaker_icon {
  height: 50px;
}

img.parkie_icon {
  height: 70px;
  margin-left: -35px;
}
